<div class="container">
  <mat-card>
    
  <!--header-->
  <mat-card-header>
   <mat-card-title> Formulário</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <form action="#" 
      id="main-form" 
      #form ="ngForm"
      (ngSubmit)="submit()"
      >
    
      <!--Nome-->
      <div class="DivGeral">
      <mat-form-field appearance="fill" >
      <mat-label for="nome">Nome</mat-label>
      <input 
      type="text" 
      matInput
      placeholder="Digite seu nome"
      [(ngModel)]="nome"
      name="nome"
      minlength="5"
      required
      #inputName="ngModel"
      >
    
    <mat-error *ngIf="inputName.invalid">
      <span *ngIf="inputName.errors?. ['minlength']" style.color="red">
        O campo está invalido
      </span>
    </mat-error>
  </mat-form-field>
    


    <!--Sobrenome-->
    
    <mat-form-field appearance="fill">
    <mat-label>Sobrenome</mat-label>
    <input type="text"
      matInput placeholder="Sobrenome"
      [(ngModel)]="sobrenome"
      name="sobrenome"
      required
      minlength="5"
      #inputLastname="ngModel"
      >
      
       <mat-error *ngIf="inputLastname.invalid">
        <span *ngIf="inputLastname.errors?. ['minlength']" style.color="red">
          campo invalido
         </span>
        </mat-error>
      </mat-form-field>
    </div>
    
     <!--Username-->
    <div class="DivGeral">
      <mat-form-field appearance="fill">
        <mat-label>username</mat-label>
        <input type="text"
         matInput placeholder="username"
         [(ngModel)]="username"
         name="username"
         required
         minlength="5"
         #inputUsername="ngModel"
         >
        
         <mat-error *ngIf="inputUsername.invalid">
          <span *ngIf="inputUsername.errors?. ['minlength']" style.color="red">
            Campo inválido
           </span>
          </mat-error>
        </mat-form-field>
      
  
      <!--CPF-->
  
  <mat-form-field appearance="fill">
  <mat-label>CPF</mat-label>
  <input type="text"
   matInput 
   placeholder="Numero do cpf"
  [(ngModel)]="cpf"
  name="cpf"
  autocomplete="false"
  required
  minlength="5"
  #inputcpf="ngModel"
  >
  
  <mat-error *ngIf="inputcpf.invalid">
  <span *ngIf="inputcpf.errors?. ['minlength']" style.color="red"> </span>
    </mat-error>
  </mat-form-field>
  <
       <!--Endereço-->   
      <div class="endereco">
      <mat-form-field appearance="fill">
      <mat-label>endereco</mat-label>
      <input type="text"
        matInput placeholder="endereco"
        [(ngModel)]="endereco"
        name="endereco"
        autocomplete="false"
        required
        minlength="5"
        #inputendereco="ngModel"
         >
          </mat-form-field>
          <mat-error *ngIf="inputendereco.invalid">
          <span *ngIf="inputendereco.errors?. ['minlength']" style.color="red">
             endereco Completo
              </span>
              </mat-error>
              </div>


     <!--Complemento-->
    <div class="complemento">
    <mat-form-field appearance="fill">
    <mat-label>complemento</mat-label>
      <input type="text"
        matInput placeholder="complemento"
        [(ngModel)]="complemento"
        name="complemento"
        autocomplete="false"
        required
        #inputcomplemento="ngModel"
        >
        </mat-form-field>
        <mat-error *ngIf="inputcomplemento.invalid">
        <span *ngIf="inputcomplemento.errors?. ['minlength']" style.color="red">
          Verificar complemento
         </span>
        </mat-error>
        </div>
     
        <!--Senha-->
    <div class="senha">
    <mat-form-field appearance="fill">
    <mat-label>senha</mat-label>
      <input type="text"
      matInput placeholder="senha"
      [(ngModel)]="senha"
      name="senha"
      autocomplete="false"
      required
      minlength="5"
      #inputsenha="ngModel"
       >
        </mat-form-field>
        <mat-error *ngIf="inputsenha.invalid">
        <span *ngIf="inputsenha.errors?. ['minlength']" style.color="red">
        <span *ngIf="inputsenha != inputconfirmaSenha" >Senhas não confere</span>
         Verificar senha
        </span>
        </mat-error>
        </div>


       <!--Confirma senha-->
       <div class="confirmaSenha">
       <mat-form-field appearance="fill">
        <mat-label>confirmaSenha</mat-label>
        <input type="text"
        matInput placeholder="confirmaSenha"
        [(ngModel)]="confirmaSenha"
        name="confirmaSenha"
        autocomplete="false"
         required
        minlength="5"
       #inputconfirmaSenha="ngModel"
        >
        </mat-form-field>
        <mat-error *ngIf="inputconfirmaSenha.invalid">
        <span *ngIf="inputconfirmaSenha.errors?. ['minlength']" style.color="red">
        <span *ngIf="inputsenha != inputconfirmaSenha" >Senhas não confere</span>
         Verificar confirmaSenha
        </span>
        </mat-error>
        </div>

        <!--botão-->
        <div class="form-row col" >
         <button  class="grow"
          mat-raised-button
          type="submit"
          color="accent"
          [disabled]="form.invalid"
          >Cadastrar</button>
          </div>
                     
        </div>
  
  
  
  </form>
    </mat-card-content>
  </mat-card>
</div>




     

 
      
     